# Default configuration for most C++ code
Language: Cpp
BasedOnStyle: Google
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
# ExperimentalAutoDetectBinPacking: true
