# Qt Generated Project Configuration
CMakeLists.txt.user

# Build directories
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python compiled files
*.pyc

# Pytest cache
.cache
install
