sudo: required
dist: trusty

branches:
    except:
        - l10n_develop
        - appveyor

language: cpp

compiler: gcc

env:
    global:
        secure: "C4tE5UQtoItWxd+sSfj9vULLd0EjY5Ek/BentI/m1xz6tAOi+65RTjMEgz9OQZh1rlsExV4y9YEfV/JzZ3peLNypw3b2BaCum6LECkaEDob2aPR03u/DruTkGkXITUIFFh2hg0iQH2TZP9/0ZtQBRXqNbU+DnH8Rs1Q+kNcWoFU="

addons:
    coverity_scan:
        project:
            name: "rakhimov/scram"
        # description: "Command-line Risk Analysis Multi-tool"
        notification_email: "ol.rakhimov@gmail.com"
        build_command_prepend: "cmake .."
        build_command: "make -j 2"
        branch_pattern: "coverity-scan"
    apt:
        packages:
            - gcc-7
            - g++-7
            - libboost-program-options1.61-dev
            - libboost-math1.61-dev
            - libboost-random1.61-dev
            - libboost-filesystem1.61-dev
            - libxml2-dev
            - qt59base
            - qt59tools
            - qt59svg
        sources: &Sources
            - ubuntu-toolchain-r-test
            - sourceline: "ppa:rakhimov/boost"
            - sourceline: "ppa:beineri/opt-qt593-trusty"

before_install:
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 20
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 20

before_script:
    - find src/ tests/*.{cc,h} -type f | grep -v 'error' | xargs -n 1 sed -i 's/noexcept\([^(]\|$\)/\1/'
    - mkdir build
    - cd build
    - source /opt/qt59/bin/qt59-env.sh

script:
    - echo "Done"
    - cat cov-int/build-log.txt

after_success:
    - cat cov-int/scm_log.txt
