[Desktop Entry]
Name=SCRAM
Comment=Probabilistic risk analysis tool
TryExec=scram-gui
Exec=scram-gui %F
Icon=scram
Terminal=false
Type=Application
MimeType=text/xml
Categories=Science;Engineering;
URL=https://scram-pra.org
Keywords=science;education;engineering;
